*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    gap: 3vw;
    grid-template-rows: min-content 1fr min-content;
    color:black
}

#main{
    padding: 0 20px 20px 20px;
    background-color: lightgray;
}

a {
    color: currentColor;
}

footer {
    padding: 0 20px;
    border-top: 2px dotted;
    text-align: center;
    background-color: cadetblue;
}

header {
    padding: 0 20px;
    border-bottom: 2px dotted;
    background-color: cadetblue;
}

.template-homepage main {
    text-align: center;
}

.skip-link {
    position: relative;
    top: 5px;
}

.skip-link:focus-visible {
    top: 5px;
}

ul.author-list{
    padding-left: 0;
}   